.root {
    box-sizing: border-box;
}
.container-fluid {
    display: grid;
    grid-gap: 40px;
}

.header {
    min-height: 150px;
    background-color:  rgb(151, 107, 107);
}
.h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.btn-group .button {
    background-color: rgba(248, 206, 142, 0.966);
    border: none;
    color: rgb(112, 143, 211);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    float: left;
    margin: 2px;
    
}

.btn-group .button:hover {
    background-color: #f0b08c;
}
.body {
    min-height: 700px; 
    background-color: rgb(196, 155, 155);  
} 
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(196, 155, 155); 
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin:40px;
    text-align: center;
    line-height: 150px;
    font-size: 15px;
  }
.footer {
    min-height: 100px;
    background-color: rgb(248, 223, 223); ; 
}

.font-weight-bold {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}